
<div class="container center">
    <div class="row">
        <div class="col s12" id="login">
            <div class="card #e1f5fe light-blue lighten-5">
                <div class="card-content">
                  <span class="card-title">Registrate</span>
                  <div class="card-body">
                    <form (submit)="registrate()">
                        <div class="row">
                            <div class="input-field col s12">
                                <input [(ngModel)]='user.email' type="email" name="email" placeholder="Ingresa tu correo">
                            </div>
                            <div class="input-field col s12">
                                <input [(ngModel)]='user.password' type="password" name="password" placeholder="Ingresa tu contraseña">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button type="submit" class="waves-effect #90caf9 blue lighten-3 btn-large">
                                        Registrar<i class="material-icons right login-icon">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
