<div class="container">
    <div class="card">
        <div class="col s12 center title">
            <h4 class="z-depth-2">Trabajos en procesos</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Recibido</span>
                    <p class="center">{{recibido}}</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3"> 
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">En proceso</span>
                    <p class="center">{{enproceso}}</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Maquilación</span>
                    <p class="center">{{maquilacion}}</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Terminado</span>
                    <p class="center">{{terminado}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Entregado</span>
                    <p class="center">{{entregado}}</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content white-text center">
                    <a routerLink="/proceso" class="waves-effect waves-light btn">Ir a Procesos</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Cancelado</span>
                    <p class="center">{{cancelado}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
