<div class="container">
    <div class="col s7">
        <table>
            <thead>
                <th>Cliente</th>
                <th>Descripción</th>
                <th>Pago</th>
            </thead>
            <tbody>
                <!--<tr *ngFor="let pago of pagos">
                    <td>{{pago.cliente}}</td>
                    <td>{{pago.descripcion}}</td>
                    <td>{{pago.pago}}</td>
                    <td>
                        <a>
                            <i class="material-icons">edit</i>
                        </a>
                        <a>
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>-->
                <tr>
                    <td>Victor Godinez</td>
                    <td>Pago por el trabajo Los juegos del hambre</td>
                    <td>$500</td>
                    <td>
                        <a>
                            <i class="material-icons">edit</i>
                        </a>
                        <a>
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Raul Gonzalez</td>
                    <td>Pago por el trabajo Señor de los anillos</td>
                    <td>$1500</td>
                    <td>
                        <a>
                            <i class="material-icons">edit</i>
                        </a>
                        <a>
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Omar Robledo</td>
                    <td>Pago por el trabajo Nutry Grago</td>
                    <td>$5000</td>
                    <td>
                        <a>
                            <i class="material-icons">edit</i>
                        </a>
                        <a>
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Diego Levy</td>
                    <td>Pago por el trabajo Valorant</td>
                    <td>$300</td>
                    <td>
                        <a>
                            <i class="material-icons">edit</i>
                        </a>
                        <a>
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>