<div class="container" id="trabajos_vista" style="display: block;">
    <div class="col s12 center title">
        <h4 class="z-depth-2">Trabajos</h4>
    </div>
    <div class="row">
        <div class="col s7"></div>
        <div class="col s5">
            <a style="cursor: pointer" (click)="exportexcel()">
                Pasar a excel<i class="material-icons prefix">file_download</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Formulario para los Trabajos</span>
                    <form #trabajoForm="ngForm" (ngSubmit)="addPelicula(trabajoForm) ">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="pagosService.selectedTrabajo._id">
                        <!-- 
                            <input type="hidden" name="material_id" #material_id="ngModel" [(ngModel)]="pagosService.selectedTrabajo.material_id">
                        -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">work</i>
                                <input class="validate" id="nombre" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="pagosService.selectedTrabajo.nombre">
                                <label for="nombre">Nombre del trabajo*</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">people</i>
                                <select class="browser-default validate" id="cliente_nombre" name="cliente_nombre" #cliente_nombre="ngModel" [(ngModel)]="pagosService.selectedTrabajo.cliente_nombre" style="width: 90%; margin-left: 12%;">
                                    <option value="" disabled selected>Nombre del Cliente*</option>
                                    <option value="ImprentaG's de México S.A de C.V">ImprentaG's de México S.A de C.V</option>
                                    <option value="Impresiones Torres, S.A de C.V">Impresiones Torres, S.A de C.V</option>
                                    <option value="Mujica Impresor S.A de C.V">Mujica Impresor S.A de C.V</option>
                                    <option value="Natosa Impresores S.A de C.V">Natosa Impresores S.A de C.V</option>
                                    <option value="Puan Express S.A de C.V">Puan Express S.A de C.V</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">photo_size_select_small</i>
                                <input class="validate" id="medida_papel" type="text" name="medida_papel" #medida_papel="ngModel" [(ngModel)]="pagosService.selectedTrabajo.medida_papel">
                                <label for="medida_papel">Medida del papel*</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">widgets</i>
                                <select class="browser-default validate" id="material_tipo" name="material_tipo" #material_tipo="ngModel" [(ngModel)]="pagosService.selectedTrabajo.material_tipo" style="width: 90%; margin-left: 12%;">
                                    <option value="" disabled selected>Tipo de material*</option>
                                    <option value="Brillante">Brillante</option>
                                    <option value="Holograma">Holograma</option>
                                    <option value="Mate">Mate</option>
                                    <option value="Metalizado Plata">Metalizado Plata</option>
                                    <option value="Soft Touch">Soft Touch</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">widgets</i>
                                <select class="browser-default validate" id="material_medida" name="material_medida" #material_medida="ngModel" [(ngModel)]="pagosService.selectedTrabajo.material_medida" style="width: 90%; margin-left: 12%;">
                                    <option value="" disabled selected>Medida del material*</option>
                                    <option value="28 cm">28 cm</option>
                                    <option value="30 cm">30 cm</option>
                                    <option value="32 cm">32 cm</option>
                                    <option value="34 cm">34 cm</option>
                                    <option value="36.5 cm">36.5 cm</option>
                                    <option value="40 cm">40 cm</option>
                                    <option value="44.5 cm">44.5 cm</option>
                                    <option value="47 cm">47 cm</option>
                                    <option value="50.5 cm">50.5 cm</option>
                                    <option value="52 cm">52 cm</option>
                                    <option value="55 cm">55 cm</option>
                                    <option value="57 cm">57 cm</option>
                                    <option value="59 cm">59 cm</option>
                                    <option value="61 cm">61 cm</option>
                                    <option value="62 cm">62 cm</option>
                                    <option value="65 cm">65 cm</option>
                                    <option value="70 cm">70 cm</option>
                                    <option value="72 cm">72 cm</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">timelapse</i>
                                <select class="browser-default validate" id="proceso" name="proceso" #proceso="ngModel" [(ngModel)]="pagosService.selectedTrabajo.proceso" style="width: 90%; margin-left: 12%;">
                                    <option value="" disabled selected>Proceso*</option>
                                    <option value="Recibido">Recibido</option>
                                    <option value="En proceso*">En proceso*</option>
                                    <option value="Maquilación*">Maquilación*</option>
                                    <option value="Terminado">Terminado</option>
                                    <option value="Entregado">Entregado</option>
                                    <option value="Cancelado">Cancelado</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">payment</i>
                                <select class="browser-default validate" id="costo" name="costo" #costo="ngModel" [(ngModel)]="pagosService.selectedTrabajo.costo" style="width: 90%; margin-left: 12%;">
                                    <option value="" disabled selected>Método de pago*</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="Transferencia Electrónica">Transferencia Electrónica</option>
                                    <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                                    <option value="Tarjeta de Débito">Tarjeta de Débito</option>
                                    <option value="Por Definir">Por Definir</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">attach_money</i>
                                <input class="validate" id="pago" type="text" name="pago" #pago="ngModel" [(ngModel)]="pagosService.selectedTrabajo.pago">
                                <label for="pago">Costo*</label>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn #90caf9 blue lighten-3" (click)="resetForm(trabajoForm)">Limpiar</button>
                                    <button class="btn right #90caf9 blue lighten-3">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table id="excel-table">
                <thead>
                    <th>Nombre del trabajo</th>
                    <th>Nombre del cliente</th>
                    <th>Medida del papel</th>
                    <th>Tipo de material</th>
                    <th>Medida del material</th>
                    <th>Proceso</th>
                    <th>Método de pago</th>
                    <th>Costo</th>
                </thead>
                <tbody>
                    <tr *ngFor="let trabajo of pagosService.trabajos">
                        <td>{{trabajo.nombre}}</td>
                        <td>{{trabajo.cliente_nombre}}</td>
                        <td>{{trabajo.medida_papel}}</td>
                        <td>{{trabajo.material_tipo}}</td>
                        <td>{{trabajo.material_medida}}</td>
                        <td>{{trabajo.proceso}}</td>
                        <td>{{trabajo.costo}}</td>
                        <td>{{trabajo.pago}}</td>
                        <td>
                            <a (click)="editRrabajo(trabajo)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteTrabajo(trabajo._id)">
                                <i class="material-icons">delete</i>
                            </a>
                            <a>
                                <i class="material-icons">history</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container center" id="historial_vista" style="display: block;">
    <div class="col center title">
        <h4 class="z-depth-2">Historial de trabajos</h4>
    </div>
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <th>Atributo editado</th>
                    <th>Valor anterior</th>
                    <th>Valor nuevo</th>
                    <th>Usuario</th>
                    <th>Fecha de modificación</th>
                </thead>
                <tbody>
                    <tr *ngFor="let historial of historialService.historial">
                        <td>{{historial.atributo_editado}}</td>
                        <td>{{historial.valor_anterior}}</td>
                        <td>{{historial.valor_nuevo}}</td>
                        <td>{{historial.usuario}}</td>
                        <td>{{historial.createdAt}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>