/* You can add global styles to this file, and also import other style files */
::placeholder{
    color: rgb(16, 70, 151);
    opacity: 1;
}
#login{
    margin-top: 5% !important;
}
.login-icon{
    color:white !important;
}
.material-icons{
    color: #90caf9;
    cursor: pointer;
}
.h-input:hover {
    background-color: #90caf9;
    border-radius: 0.5%;
    color: white !important;
  }
  .title{
      background-color:#90caf9;
      color: white;
  }
  .title h4{
    padding: 1.4%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
