<div class="container">
    <div class="col s12 center title">
        <h4 class="z-depth-2">Material</h4>
    </div>
    <div class="row">
        <div class="col s7"></div>
        <div class="col s5">
            <a style="cursor: pointer" (click)="exportexcel()">
                Pasar a excel<i class="material-icons prefix">file_download</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Formulario para el material</span>
                    <form #peliculaForm="ngForm" (ngSubmit)="addPelicula(peliculaForm) ">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="peliculaService.selectedPelicula._id">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">style</i>
                                <select class="browser-default validate" id="tipo" name="tipo" #tipo="ngModel" [(ngModel)]="peliculaService.selectedPelicula.tipo" style="width: 90%; margin-left: 12%;">
                                    <option value="" disabled selected>Tipo*</option>
                                    <option value="Brillante">Brillante</option>
                                    <option value="Holograma">Holograma</option>
                                    <option value="Mate">Mate</option>
                                    <option value="Metalizado Plata">Metalizado Plata</option>
                                    <option value="Soft Touch">Soft Touch</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">photo_size_select_small</i>
                                <select class="browser-default validate" id="medida" name="medida" #medida="ngModel" [(ngModel)]="peliculaService.selectedPelicula.medida" style="width: 90%; margin-left: 12%;">
                                    <option value="" disabled selected>Medida*</option>
                                    <option value="28 cm">28 cm</option>
                                    <option value="30 cm">30 cm</option>
                                    <option value="32 cm">32 cm</option>
                                    <option value="34 cm">34 cm</option>
                                    <option value="36.5 cm">36.5 cm</option>
                                    <option value="40 cm">40 cm</option>
                                    <option value="44.5 cm">44.5 cm</option>
                                    <option value="47 cm">47 cm</option>
                                    <option value="50.5 cm">50.5 cm</option>
                                    <option value="52 cm">52 cm</option>
                                    <option value="55 cm">55 cm</option>
                                    <option value="57 cm">57 cm</option>
                                    <option value="59 cm">59 cm</option>
                                    <option value="61 cm">61 cm</option>
                                    <option value="62 cm">62 cm</option>
                                    <option value="65 cm">65 cm</option>
                                    <option value="70 cm">70 cm</option>
                                    <option value="72 cm">72 cm</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">local_grocery_store</i>
                                <select class="browser-default validate" id="provedor" name="provedor" #provedor="ngModel" [(ngModel)]="peliculaService.selectedPelicula.provedor" style="width: 90%; margin-left: 12%;">
                                    <option value="" disabled selected>Proveedor*</option>
                                    <option value="CIASA">CIASA</option>
                                    <option value="EMDO">EMDO</option>
                                    <option value="Peliculas y Laminado">Peliculas y Laminado</option>
                                    <option value="Polipropimex">Polipropimex</option>
                                    <option value="Sajo">Sajo</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">format_list_numbered</i>
                                <input class="validate" id="unidades" type="number" name="unidades" #unidades="ngModel" [(ngModel)]="peliculaService.selectedPelicula.unidades">
                                <label for="unidades">Unidades*</label>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn #90caf9 blue lighten-3" (click)="resetForm(peliculaForm)">Limpiar</button>
                                    <button class="btn right #90caf9 blue lighten-3">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table id="excel-table">
                <thead>
                    <th>Tipo</th>
                    <th>Medida</th>
                    <th>Proveedor</th>
                    <th>Unidades</th>
                </thead>
                <tbody>
                    <tr *ngFor="let pelicula of peliculaService.peliculas">
                        <td>{{pelicula.tipo}}</td>
                        <td>{{pelicula.medida}}</td>
                        <td>{{pelicula.provedor}}</td>
                        <td>{{pelicula.unidades}}</td>
                        <td>
                            <a (click)="editPelicula(pelicula)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deletePelicula(pelicula._id)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>