
<div class="container center">
    <div class="row">
        <div class="col s12" id="login">
            <div class="card #e1f5fe light-blue lighten-5">
                <div class="card-content">
                  <span class="card-title">Ingresa</span>
                  <div class="card-body">
                    <form (submit)="ingresar()">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">contact_mail</i>
                                <input [(ngModel)]='user.email' type="email" name="email" id="email" class="validate">
                                <label for="email">Correo*</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock_outline</i>
                                <input [(ngModel)]='user.password' type="password" name="password" id="password" class="validate">
                                <label for="password">Contraseña*</label>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button type="submit" class="waves-effect #90caf9 blue lighten-3 btn-large">
                                        Ingresar<i class="material-icons right login-icon">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
